<h3>
  <strong>Leiloes</strong>
</h3>

<div class="form-inline">
  <div class="form-group nb-2">
    <label class="mr-2"><strong>Filtro:</strong></label> <input type="text" 
      class="form-control mr-2" 
      placeholder="buscar"
      [(ngModel)]="filtroLista"
      >
  </div>
</div>

<br>

<table class="table table-stripped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Codigo</th>
      <th>Compra/Venda</th>
      <th>Data</th>
      <th>Itens</th>
    </tr>
  </thead>
  
  <tbody *ngIf="auctions && auctions.length">
    <tr *ngFor="let auction of auctions">
      <td>{{auction.id}}</td>
      <td>{{auction.businessCode}}</td>
      <td>{{auction.negotiation}}</td>
      <td>{{auction.date}}</td>
      <td>{{auction.auctionItems | json}}</td>
    </tr>
  </tbody>

  <tfoot *ngIf="!auctions.length">
    <tr>
      <td colspan="7" class="text-centered">
        <h4>Nenhum comitente encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>