<h3>
  <strong>Comitentes</strong>
</h3>

<div class="form-inline">
  <div class="form-group nb-2">
    <label class="mr-2"><strong>Filtro:</strong></label> <input type="text" 
      class="form-control mr-2" 
      placeholder="buscar"
      [(ngModel)]="filtroLista"
      >
  </div>
</div>

<br>

<h4 *ngIf="comitentesFiltrados.length">Filtrando por {{filtroLista}}</h4>

<table class="table table-stripped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Nome</th>
    </tr>
  </thead>
  
  <tbody *ngIf="comitentes && comitentes.length">
    <tr *ngFor="let comitente of comitentesFiltrados">
      <td>{{comitente.comitenteId}}</td>
      <td>{{comitente.comitenteName}}</td>
    </tr>
  </tbody>

  <tfoot *ngIf="!comitentes.length">
    <tr>
      <td colspan="7" class="text-centered">
        <h4>Nenhum comitente encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>